<!-- public/views/analyzer.html -->

<div class="jumbotron text-center">
    <h1>Analyzer</h1>

    <p>{{ tagline }}</p>
    <div id="buttonContainer" style="width: device-width; position: relative;">
      <ui-select ng-model="city.selected" theme="bootstrap" ng-disabled="disabled" style="width: 50%; float: left;">
        <ui-select-match placeholder="Select or search for a city in the list...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="city in cityList | filter: $select.search">
          <small ng-bind-html="city.name | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
      <ui-select ng-model="car.selected" theme="bootstrap" ng-disabled="disabled" style="width: 50%; float: right;">
        <ui-select-match placeholder="Select or search for a car in the list...">{{$select.selected.make + ' ' + $select.selected.model}}</ui-select-match>
        <ui-select-choices repeat="car in carList | filter: $select.search">
          <small ng-bind-html="car.make | highlight: $select.search"></small>
          <small ng-bind-html="car.model | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="getCarData(car.selected.make,car.selected.model); showTable=true">Analyze!</button>
    <br>
    <div id="buttonContainer" style="width: device-width; position: relative;">
      <ui-select ng-show="showTable" ng-model="startingYear.selected" theme="bootstrap" ng-disabled="disabled" style="width: 50%; float: left;">
        <ui-select-match placeholder="Select starting year">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="year in yearPriceData | filter: lessThan(endingYear.selected) | filter: $select.search">
          <small ng-bind-html="year.label | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
      <ui-select ng-show="showTable" ng-model="endingYear.selected" theme="bootstrap" ng-disabled="disabled" style="width: 50%; float: right;">
        <ui-select-match placeholder="Select ending year">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="year in yearPriceData | filter: greaterThan(startingYear.selected) | filter: $select.search" >
          <small ng-bind-html="year.label | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
    </div>
    <br>
    <button ng-show="showTable" type="button" class="btn btn-primary btn-lg btn-block" ng-click="filterGraph(startingYear.selected.label, endingYear.selected.label)">Filter</button>
    <br>
    <nvd3 ng-show="showTable" options="barChartOptions" data="yearCountData" class="graphs"></nvd3>
    <nvd3 ng-show="showTable" options="boxPlotOptions" data="yearPriceData"  class="graphs"></nvd3>
    <table ng-show="showTable" class="table table-bordered table-striped" style="width:100%">
      <tr ng-show="showTable" >
        <!--<th>-->
        <!--  <a href="#" ng-click="sortType = 'make'; sortReverse = !sortReverse">-->
        <!--  Make-->
        <!--  <span ng-show="sortType == 'make'" class="fa fa-caret-down"></span>-->
        <!--  </a>-->
        <!--</th>-->
        <!--<th>-->
        <!--  <a href="#" ng-click="sortType = 'model'; sortReverse = !sortReverse">-->
        <!--  Model-->
        <!--  <span ng-show="sortType == 'model'" class="fa fa-caret-down"></span>-->
        <!--  </a>-->
        <!--</th>-->
        <th>
          <a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
          Year
          <span ng-show="sortType == 'year'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
          Price
          <span ng-show="sortType == 'price'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th>Link</th>
        <th>
          <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
          Date Posted
          <span ng-show="sortType == 'date'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th></th>
      </tr>
      <tr ng-repeat="x in filteredData | orderBy:sortType:sortReverse track by $index">
        <!--<td>{{x.make}}</td>-->
        <!--<td>{{x.model}}</td>-->
        <td>{{x.year}}</td>
        <td>{{'$'+x.price}}</td>
        <td><a ng-href="https://austin.craigslist.org/cto/{{x.carID}}.html">{{x.carID}}</a></td>
        <td>{{x.date}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-resize" ng-click="removeCar(x)">
            Delete
          </button>
        </td>
      </tr>
  </table>

</div>