<!-- public/views/car.html -->

<div class="jumbotron text-center">
    <h1>Car Listing</h1>

    <p>{{ tagline }}</p>
    
    <table class="table table-bordered table-striped" style="width:100%">
      <tr>
        <th>
          <a href="#" ng-click="sortType = 'make'; sortReverse = !sortReverse">
          Make
          <span ng-show="sortType == 'make'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'model'; sortReverse = !sortReverse">
          Model
          <span ng-show="sortType == 'model'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'year'; sortReverse = !sortReverse">
          Year
          <span ng-show="sortType == 'year'" class="fa fa-caret-down"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
          Price
          <span ng-show="sortType == 'price'" class="fa fa-caret-down"></span>
          </a>
        </th>>
        <th>Link</th>
        <th>
          <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
          Date Posted
          <span ng-show="sortType == 'date'" class="fa fa-caret-down"></span>
          </a>
        </th>
      </tr>
      <tr ng-repeat="x in carData | orderBy:sortType:sortReverse">
        <td>{{x.make}}</td>
        <td>{{x.model}}</td>
        <td>{{x.year}}</td>
        <td>{{'$'+x.price}}</td>
        <td><a ng-href="https://austin.craigslist.org/cto/{{x.carID}}.html">{{x.carID}}</a></td>
        <td>{{x.date}}</td>
      </tr>
  </table>

</div>