<!-- public/views/parser.html -->

<div class="jumbotron text-center" data-ng-controller="ParserController">
    <h1>Parser</h1>

    <p>{{ tagline }}</p>
    <!--<p>Selected: {{car.selected}}</p>-->
    <ui-select ng-model="car.selected" theme="bootstrap" ng-disabled="disabled" style="width: device-width;">
      <ui-select-match placeholder="Select or search for a car in the list...">{{$select.selected.make + ' ' + $select.selected.model}}</ui-select-match>
      <ui-select-choices repeat="car in carList | filter: $select.search">
        <span ng-bind-html="car.make | highlight: $select.search"></span>
        <small ng-bind-html="car.model | highlight: $select.search"></small>
      </ui-select-choices>
    </ui-select>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="parseCar(car.selected.make,car.selected.model)">Parse!</button>
    <table style="width:100%">
      <tr>
        <th>List Title</th>
        <th>Year</th>
        <th>Price</th>
        <th>ID</th>
        <th></th>
      </tr>
      <tr ng-repeat="x in this.listData">
        <td>{{x.title}}</td>
        <!--<td>{{x.model}}</td>-->
        <td>{{x.year}}</td>
        <td>{{'$' + x.price}}</td>
        <td>{{x.carID}}</td>
        <td><button ng-click="post(x)">Post</button></td>
        <!--{{ x.make + ' ' + x.model + ' ' x.year }}-->
      </tr>
    </table>
</div>