.navbar-default {
  background-color: #af00e5;
  border-color: #962bc0;
}
.navbar-default .navbar-brand {
  color: #f0dcfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9f8fb;
}
.navbar-default .navbar-text {
  color: #f0dcfd;
}
.navbar-default .navbar-nav > li > a {
  color: #f0dcfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f8fb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9f8fb;
  background-color: #962bc0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9f8fb;
  background-color: #962bc0;
}
.navbar-default .navbar-toggle {
  border-color: #962bc0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #962bc0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0dcfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f0dcfd;
}
.navbar-default .navbar-link {
  color: #f0dcfd;
}
.navbar-default .navbar-link:hover {
  color: #f9f8fb;
}
/*.graphs {*/
/*  display: inline-block;*/
/*}*/
body {
  font-size: 1.8vw;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f0dcfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9f8fb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9f8fb;
    background-color: #962bc0;
  }
}