.navbar-default {
  background-color: #af00e5;
  border-color: #962bc0;
}
.navbar-default .navbar-brand {
  color: #f0dcfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f9f8fb;
}
.navbar-default .navbar-text {
  color: #f0dcfd;
}
.navbar-default .navbar-nav > li > a {
  color: #f0dcfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f9f8fb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f9f8fb;
  background-color: #962bc0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f9f8fb;
  background-color: #962bc0;
}
.navbar-default .navbar-toggle {
  border-color: #962bc0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #962bc0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f0dcfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f0dcfd;
}
.navbar-default .navbar-link {
  color: #f0dcfd;
}
.navbar-default .navbar-link:hover {
  color: #f9f8fb;
}
/*.graphs {*/
/*  display: inline-block;*/
/*}*/
/*body {*/
  /*font-size: 1.8vw;*/
/*}*/

.tick line {
  opacity: 0.2;
}
.tick text {
  opacity: 0.8;
}
/*svg.nvd3-svg {*/
/*  fill: #c8c8c8;*/
/*}*/
.nvd3 .nv-axis line {
  stroke: #c8c8c8;
}
.nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text, .nvd3 text {
  fill: #c8c8c8;
}
.nvtooltip {
  color: #c8c8c8;
}
small {
  color: #c8c8c8;
}
.btn-resize {
  padding: 2px 4px;
}
header {
    background-image: url(../img/analyzer_screen.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
header > .jumbotron {
    background-color: transparent;
    /*padding-top: 100px;*/
    /*padding-bottom: 100px;*/
    padding: 150px 30px;
    min-height: 100%;
  
}
.container-fluid {
  padding: 0px 0px;
}
.app-title {
  padding: 100px 15px;
}
section {
  padding-top: 20px;
  padding-bottom: 100px;
}
a {
    /*color: #f05f40;*/
    /*color: #860111;*/
    color: #ffffff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f0dcfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f9f8fb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f9f8fb;
    background-color: #962bc0;
  }
  .btn-resize { 
    font-size: 80%; 
    line-height: 1; 
    border-radius: 3px; 
  }
  body {
    font-size: 3vw;
  }
  table {
    overflow-x: auto;
    display: block;
  }
}